<h1> Hi there! Welcome to the paycheck tool! </h1>


<h3> Would you like to <a href="/paychecks/new" class="btn btn-primary">add a new paycheck?</a></h3>

<h3> Would you like to <a href="/paychecks" class="btn btn-primary">edit or delete an existing paycheck?</a> </h3>

<h3> Would you like to <a href="/bills/new" class="btn btn-primary">add a new bill? </a></h3>

<h3> Would you like to <a href="/bills" class="btn btn-primary">edit or delete an existing bill?</a></h3>

<h3><a href="/timeline" class="btn btn-primary">SHOW ME MY TIMELINE!!</a></h3>
