<body style="background-color:powderblue;">

<div class="container">
    <div class="row">

        <div class="col-sm-offset-4 col-sm-4">
<h1 style="color:red;"> Welcome to the paycheck tool</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-0 col-sm-3 col-md-offset-3">

<h3><a href="/paychecks/new" class="btn btn-warning btn-lg" >This is my first time!</a></h3>

        </div>
        <div class="col-sm-offset-3 col-sm-3 col-md-offset-0">
          <h3><a href="/timeline" class="btn btn-warning btn-lg">I'm a returning user</a></h3>
        </div>
    </div>

<div class="col-sm-offset-3 col-sm-4">
  <img src="https://www.mrpaystubs.com/wp-content/uploads/2015/05/pay-stub-preview.png" alt="Ready to spend wisely?" style="width:500px;height:500px;">
</div>

</div>

</body>
